<div id="<%= dom_id brewery %>">
  <p>
    <strong>Name:</strong>
    <%= link_to brewery.name, brewery_path(brewery.id) %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= brewery.year %>
  </p>

</div>
